/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* Table of Contents

  1. Base styles
  2. Custom General Styles.
  3. Custom Nav Styles.
  4. Custom Font Styles
  5. Helper Classes
  6. Media Queries (max-width:768px)
  7. Media Queries (max-width:500px)
  8. Media Queries (print)
  9. Cursors


/* ==========================================================================
   1.0 Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Custmize the background color to match your design.
 */
*, body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}



/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*FONTS*/
/* FONT STYLING */

p {
  color: #f7931e;
  font-family: electrolize;
  font-size: 1.38888vw;
  line-height: 1.5;
}

p.black {
  color: slategray;
}

p.maroon {
  color: #9e005d;
}

p.white {
  color: antiquewhite;
}

h1 {
  color: #f7931e;
  font-family: jost;
  font-size: 5.555555vw;
  font-weight: 700;
  margin: none;
}

h1.fivedolla .maroon {
  color: #9e005d;
}

h2 {
  font-family: jost;
  font-size: 4.861111vw;
  font-weight: 700;
  color: #f7931e;
}

h2.maroon {
  color: #9e005d;
}

h3 {
  font-family: jost;
  font-size: 3.47222vw;
  font-weight: 700;
  color: #f7931e;
}

h3.maroon {
  color: #9e005d;
}

h4 {
  font-family: electrolize;
  font-size: 2.77777vw;
  color: #f7931e;
}

h4.maroon {
  color: #9e005d;
}

h5 {
  font-family: electrolize;
  font-size: 2.083333vw;
  color: #f7931e;
}

h5.black {
  color: slategray;
}

h5.white {
  color: antiquewhite;
}

h6 {
  font-family: jost;
  font-size: 1.66666vw;
  color: #f7931e;
}

#aboutpar a {
  color: #f7931e;
}

h1.maroon {
  color: #9e005d;
  padding: none;
}

/* ==========================================================================
   2.0 Custom General Styles
   ========================================================================== */
html {
  font-family: "Jost", sans-serif;
  background-color: black;
  color: #fff;
}
*html, body {
  box-sizing: border-box;
} 
img {
  width: 100%;
  height: auto;
}
header .container {
  padding-top: 0;
  padding-bottom: 0;
}

/* INDEX STYLING */

#hero {
  position: relative;
  font-family: "Electrolize", sans-serif;
  margin-top: -25px;
}

.index-bkd {
  background-image: url(../img/index-background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: 100vw;
}

#normal111 {
  background-image: url(../img/normal11-1.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 41vw; /*36.1-37.1*/
  top: 29.95vw;
  background-size: cover;
  width: 23vw;
  height: 12.7999vw; 
  z-index: 998;
}



#normal111:hover {
  background-image: url(../img/maroon11-1.png);
  width: 23.9vw;
  z-index: 999;
}

#normal-live {
  background-image: url(../img/normal-live.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 4.4vw;
  top: 74vw;
  background-size: cover;
  width: 44.68166666666667vw;
  height: 23vw; 
  z-index: 900;
}

#normal-live:hover {
  background-image: url(../img/pic-live.png);
}

.otix {
  display: inline-block;
}

.purchase-tickets {
  position: absolute;
  z-index: 9999;
  left: 74vw;
  top: 21vw;
  text-decoration: none;
  color: #f7931e;
  line-height: 1.25;
  width: 11.9vw;
  height: 17.1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.388888vw;
}

.purchase-tickets:hover {
  color: #000;
}

.orangebox {
  display: none;
  position: absolute;
  width: 15vw;
  height: 17.5vw;
  right: 11vw;
  top: 21vw;
  z-index: -99;
}

.purchase-tickets:hover ~ .orangebox {
  display: block;
}


#saturday {
  position: absolute; 
  top: 25vw;
  color: #000000;
  font-size: 2.013888888888889vw;
  padding-left: 9.125vw;
}
#amp {
  position: absolute;
  top: 48vw;
  font-size: 1.3888888vw;
  line-height: 1.186;
  color: #000000;
  left: 16.583333333333334vw;
}

#indexdate {
  position: absolute;
  top: 56vw;
  font-size: 1.3888888vw;
  line-height: 1.5;
  color: #f7931e;
  left: 77vw;
  width: 25vw;
}

#info {
  position: absolute;
  color: #f7931e;
  font-size: 1.3888888vw;
  left: 63vw;
  top: 77.5vw;
  width: 25vw;
  line-height: 1.5;
}

#indexfoot {
  position: absolute;
  top: 103vw;
}

/* TICKETS STYLING */

#fivedolla {
 color: #9e005d;
}

.tixeye {
  width: 51.24999999999999vw;
  height: 18.166666666666668vw;
  position: absolute;
  margin-top: 6.25vw;
  right: 4.4vw;
}

#tixbuttonL {
  background-color: #9e005d;
  color: #f7931e;
  border: none;
  width: 9vw;
  height: 3vw;
  text-align: center;
  border-radius: 0px;
  cursor: pointer;
  position: absolute;
  left: 12vw;
  bottom: 3vw;
  font-size: 1.25vw;
}

#tixbuttonL:hover {
  background-color: #f7931e;
  color: #9e005d;
}

#tixbuttonR {
  background-color: #9e005d;
  color: #f7931e;
  border: none;
  height: 3vw;
  width: 9vw;
  text-align: center;
  border-radius: 0px;
  cursor: pointer;
  position: absolute;
  left: 39.5vw;
  bottom: 3vw;
  font-size: 1.25vw;
}

#tixbuttonR:hover {
  background-color: #f7931e;
  color: #9e005d;
}

header .container::after {
  content: "";
  bottom: 0;
  left: 0; /* border-left: 0 solid black; */
  top: 0;

  width: 20.13888888888889vw;
  height: 7.916666666666666vw;
} 


.fivedolla {
  position: absolute;
  margin-top: 0;
  font-size: 5.5555vw;
  color: #9e005d;
  left: .5vw;
}

.five-entry {
  position: absolute;
  margin-top: 0;
  font-size: 5.5555vw;
  color: #f7931e;
}

.tixscroll {
  width: 9.8vw;
  position: relative;
  left: 25vw;
  margin-top: 55vw;

}

#tixdateL {
  position: absolute;
  float: left;
}

#tixdateR {
  position: absolute;
  float: right;
  left: 27.5vw;
}

#tixbandL {
  position: absolute;
  bottom: 0px;
}

#tixbandR {
  position: absolute;
  bottom: 0px;
  left: 27.5vw;  
}

.left-visual {
  position: absolute;
  width: 10.833333333333334vw;
}

.right-visual {
  position: absolute;
  width: 10.833333333333334vw;
  left: 27.5vw;
}

#tgenreL {
  position: absolute;
  left: 12vw;
  top: 0px;
}

#tgenreR {
  position: absolute;
  left: 39.5vw;
  top: 0px;
}

#tleft {
  position: absolute;
  bottom: 0px;
  left: 12vw;
}

#tright {
  position: absolute;
  bottom: 0px;
  left: 39.5vw;
}

.tskyscrap {
  margin-bottom: -3.3vw;
}

.tcorrupt {
  margin-bottom: -3.3vw;
}

.tlast {
  position: absolute;
  left: 4.4vw;
  padding-top: 3vw;
}

/* TIX GRID */

#leftix {
  position: absolute;
  width: 28.02734375vw;
  height: 34vw;
  margin-left: 4.4vw;
  margin-top: 12.5vw;
}

.t-one {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 51.24999999999999vw;
  height: 10vw;
  position: absolute;
  margin-left: 44vw; 
  margin-top: 33.75vw;
}

.t-two {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 51.24999999999999vw;
  height: 10vw;
  position: absolute;
  margin-left: 44vw; 
  margin-top: 62.5vw;
}

.t-three {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 51.24999999999999vw;
  height: 10vw;
  position: absolute;
  margin-left: 44vw; 
  margin-top: 95vw;
}

.t-four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 51.24999999999999vw;
  height: 10vw;
  position: absolute;
  margin-left: 44vw; 
  margin-top: 128.75vw;
}

.t-five {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 51.24999999999999vw;
  height: 10vw;
  position: absolute;
  margin-left: 44vw; 
  margin-top: 159.16666666666666vw;
}

.t-six {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 51.24999999999999vw;
  height: 10vw;
  position: absolute;
  margin-left: 44vw; 
  margin-top: 189.58333333333331vw;
}

.i-one {
  display: grid;
  width: 51.24999999999999vw;
  height: 12.6vw;
  position: absolute;
  margin-top: 45vw;
  margin-left: 44vw;
}

.i-two {
  display: grid;
  width: 51.24999999999999vw;
  height: 12.6vw;
  position: absolute;
  margin-top: 77vw;
  margin-left: 44vw;
}

.i-three {
  display: grid;
  width: 51.24999999999999vw;
  height: 12.6vw;
  position: absolute;
  margin-top: 110vw; 
  margin-left: 44vw;
}

.i-four {
  display: grid;
  width: 51.24999999999999vw;
  height: 12.6vw;
  position: absolute;
  margin-top: 140.5vw; 
  margin-left: 44vw;
}

.i-five {
  display: grid;
  width: 51.24999999999999vw;
  height: 12.6vw;
  position: absolute;
  margin-top: 171vw;
  margin-left: 44vw;
}

.i-six {
  display: grid;
  width: 51.24999999999999vw;
  height: 12.6vw;
  position: absolute;
  margin-top: 201.5vw; /*change*/
  margin-left: 44vw;
}

.tixinfo {
  position: absolute;
  bottom: 0px;
}


.form23 {
  background: #f7931e;
  width: 23.8vw;
  height: auto;
  padding: 2vw;
}

.tix-pur-form {
  max-height: 145.83333333333331vw;
  position: absolute;
  top: 74vw;
  right: -64vw;
}

.tfooter {
  bottom: -8vw;
}

/* MAY 9 STYLING */

.asppic {
  max-width: 28.999999999999996vw;
}

video {
  max-width: 22.8888vw;
  position: absolute;
  right: 13vw;
  top: 27vw;
}

#maynine {
  position: absolute;
  top: 10vw;
  left:  5vw;
  height: 5vw;
}

#may23 {
  position: absolute;
  top: 17vw;
  left:  5vw;
  height: 5vw;
}

.nine-left {
  position: absolute;
  top: 123vw;
  right: 72vw;
  width: 20vw;
}

.nine-footer {
  position: absolute;
  top: 166.5vw;
}


#right-nine {
  position: absolute;
  right: -49vw;
  top: 42.7vw
}

#times {
  position: absolute;
  right: -49vw;
  top: 35vw;
}

.nine-socials {
  position: absolute;
  top: 144vw;
  right: -8vw;
  height: 12vw;
}

#genre {
  position: absolute;
  top: 56vw;
  right: -5vw;
}

.bname-asp {
  top: 6vw;
}

#nineicon {
  max-width: 9.027777777777777vw;
  padding-bottom: 1vw;
}

#band-info {
  position: absolute;
  top: 74vw;
  right: -5vw;
}

#ninepic {
  position: absolute;
  left: 5vw;
  top: 28vw;
}

.ninescroll {
  width: 9.8vw;
  position: absolute;
  right: 50vw;
  top: 7.8vw;
  }

#facebook {
  max-width: 5.319444444444445vw;
  position: absolute;
  left: 20vw;
}

#twitter {
  max-width: 5.319444444444445vw;
  position: absolute;
  left: 10vw;
}

#instagram {
  max-width: 5.319444444444445vw;
  position: absolute;
}

#band {
  position: absolute;
  top: 56vw;
  right: -22vw;
}

#socialtag-nine {
  padding-top: 2vw;
}

#hometown {
  position: absolute;
  top: 61.4vw;
  right: -5vw;
}


input[type="tform"],
select,
textarea {
  width: 10vw;
  height: 3vw;
  padding: 0.5vw;
  font-size: 1.25vw;
  background: #f7931e;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 2vw;
}


input[type="nine-submit"] {
  background-color: #9e005d;
  color: #f7931e;
  padding: 1vw;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  float: right;
}

input[type="nine-submit"]:hover {
  background-color: #9e005d;
}

input[type="nine-submit"]:on {
  background-color: #9e005d;
}


.nine-submit {
  display: inline-block;
  background-color: #9e005d;
  color: #f7931e;
  cursor: pointer;
  width: 6vw;
  font-family: electrolize;
  font-size: 1.25vw;
  height: 3vw;
  border: none;
  border-radius: 0px;
  margin-top: 2vw;
  text-align: center;
  position: relative;
  right: -14vw;
}

.nine-submit:hover {
  background-color: #000;
}

#fullname {
  font-family: electrolize;
  font-size: 1.25w;
  color: #f7931e;
  height: 3vw;
  width: 20vw;
  background-color: #9e005d;
  border: none;
  border-radius: 0px;
  padding-left: 1vw;
}

#nine-email {
  font-family: electrolize;
  font-size: 1.25vw;
  color: #f7931e;  
  height: 3vw;
  width: 20vw;
  background-color: #9e005d;
  border: none;
  border-radius: 0px;
  padding-left: 1vw;
}

#nine-numb {
  font-family: electrolize;
  font-size: 1.25vw;
  color: #f7931e;
  height: 3vw;
  width: 20vw;
  background-color: #9e005d;
  border: none;
  border-radius: 0px;
  padding-left: 1vw;
}

#nine-date {
  font-family: electrolize;
  font-size: 1.25vw;
  color: #f7931e;
  height: 3vw;
  width: 20vw;
  background-color: #9e005d;
  border: none;
  border-radius: 0px;
  padding-left: 1vw;
}

#nine-card {
  font-family: electrolize;
  font-size: 1.25vw;
  color: #f7931e;
  height: 3vw;
  width: 20vw;
  background-color: #9e005d;
  border: none;
  border-radius: 0px;
  padding-left: 1vw;
}

#nine-cvv {
  font-size: 1.25vw;
  font-family: electrolize;
  cursor: text;
  color: #f7931e;
  height: 3vw;
  width: 20vw;
  background-color: #9e005d;
  border: none;
  border-radius: 0px;
  padding-left: 1vw;
}

#nine-zip {
  font-family: electrolize;
  font-size: 1.25vw;
  color: #f7931e;
  height: 3vw;
  width: 20vw;
  background-color: #9e005d;
  border: none;
  border-radius: 0px;
  padding-left: 1vw;
}


............

/* GRID MAY 9 */

#maynine {
  display: grid;
  grid-template-columns: 1, 1fr;
  width: 27.77777777777778vw;
  float: left;
  margin-left: 3.125vw;
  margin-top: 6vw;
}

/* MAY 23 STYLING */

.wishpic {
  max-width: 28.999999999999996vw;
}

#times23 {
  position: absolute;
  right: -64vw;
  top: 28vw;
}

#right23 {
  position: absolute;
  right: -64vw;
  top: 38vw;
}

/* LINEUP STYLING */

#lineupimg {
  position: relative;
  font-family: "Jost", sans-serif;
  margin-top: -15.277777777777779vw;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.lineup {
  position: absolute;
  top: 50%;
  font-size: 5.5555vw;
  transform: translatex(.5%);
  right: -56.875vw;
  color: #9e005d;
  z-index: 1;
}

.lineup2 {
  position: absolute;
  top: 50%;
  font-size: 5.5555vw;
  right: -56.875vw;
  z-index: 2;
}

p.lineinfo {
  line-height: 1.5;
  padding-bottom: 1.8vw;
}

.info-con {
  display: block;
  height: 10vw;
}

.linescroll {
  position: absolute;
  top: 107vw;
  max-width: 9.8vw;
}

#scroll-cont {
  display: block;
  height: 150vw;
}

#bandinfo {
  padding-top: 1vw;
  line-height: 1.5, 1.5, 2, 1.5;
}

#pic {
  width: 16vw;
  padding: 2vw;
  position: absolute;
  bottom: 30%;
}

.needline {
  padding-left: 3.125vw;
  width: 26vw;
  position: absolute;
  margin-bottom: -10vw;
}

.social {
  position: absolute;
  bottom: 10%;
}

/* LINEUP GRID INFO */

.line-rgrid {
  display: grid;
  grid-template-columns: 1, 1fr;
  width: 17.36111111111111vw;
  height: 218vw;
  float: right;
  margin-right: 3.125vw;
  margin-bottom: 5vw;

}

.lineupgrid {
  display: grid;
  grid-template-columns: 2, 1 fr;
  width: 75vw;
  margin-left: 3.125vw;
  grid-gap: 0, 3.4722222222222223vw;
  margin-top: 7vw;;
}

.left {
  grid-column-start: 1;
  text-align: right;
  padding-right: 5vw;
  margin-top: 0;
}

.right {
  grid-column-start: 2;
  padding-bottom: 5vw;
}

.name {
  padding-top: 18px;
}

.lowerhalf {
  position: absolute;
  /* border: 1px solid hotpink; */
  width: 93.75vw;
  margin-top: 10vw;
  margin-left: 3.125vw;
  margin-right: 3.125vw;
  height: 42vw;
  max-width: 100%;
  margin-bottom: 2rem;
}


.lowerhalf .headline {
    display: flex;
    align-items: flex-start;
}

.lowerhalf .form-row {
  display: flex;
  justify-content: space-between;
}
.lowerhalf .form-row .col-3 {
  flex: 1 1 33.3333333333%;
  padding-left: 6.5vw;
}


.lowerhalf .col-3 > .row form {
    background: #F7931E;
    padding: 1rem;
    color: #000;
    font-family: 'Electrolize';
    font-size: 1.25vw;
}

.lowerhalf .col-3 > .row form input {
    border: 0;
    padding: 0;
    margin: 0;
    color: #F7931E;
    font-size: 1.25vw;
    padding: 0.5vw;
}

.lowerhalf .col-3 > .row form input::placeholder {
    color: #F7931E;
    font-size: 1.25vw;
}

.lowerhalf form .btn-container {
  text-align: center;
}

.lowerhalf form .row button {
    width: auto;
    text-align: center;
    background: #9E005D;
    border: 0;
    padding: 0.4166666666666667vw 2.5vw;
    position: relative;
    right: -10.5vw;
    color: #F7931E;
    cursor: pointer;
}

.lowerhalf form .row button:hover {
  background: #000;
  }


/* AUDITION FORM (LINEUP) */

input[type="text"],
select,
textarea {
  width: 30vw;
  height: 3vw;
  padding: 0.5vw;
  font-size: 1.25vw;
  background: black;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 2vw;
  color: #000;
  font-family: electrolize;
}


input[type="submit"] {
  background-color: #9e005d;
  color: #f7931e;
  padding: 1vw;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #9e005d;
}

input[type="submit"]:on {
  background-color: #c;
}


#stobutton {
  display: inline-block;
  cursor: pointer;
}

#stobutton:hover {
  background: #f7931e;
  color: #9e005d;
}

#fname {
  font-size: 1.25w;
}

#bmembers {
  font-size: 1.25vw;
}

input#htown {
  font-size: 1.25vw;
}

#fgenre {
  font-size: 1.25vw;
}

#femail {
  color: #F7931E;
  font-size: 1.25vw;
}

#fphone {
  font-size: 1.25vw;
  cursor: text;
}

---------

#audinfo {
  padding-top: 2vw;
}


/* END OF LINEUP STYLING */

/* ABOUT STYLING */

.nightsign {
  background-image: url(../img/night_sign.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 61.583333333333336vw;
  height: 44.583333333333336vw;
  position: absolute;
  margin-top: -7vw;
}

.nightsign:hover {
  background-image: url(../img/day_sign.jpg);
}

.nightstage {
  background-image: url(../img/night_stage.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 61.416666666666664vw;
  height: 34.5vw;
  position: absolute;
  top: 73vw; 
}

.nightstage:hover {
  background-image: url(../img/day_stage.jpg);
}


#atheve {
  position: absolute;
  top: 24vw;
  right: -65vw;
}

#event {
  position: absolute;
  top: 30.5vw;
  right: -78vw;
  z-index: -1;
}

#ainfo {
  position: absolute;
  top: 49vw;
  left: 62vw;
}


#para-con {
  position: absolute;
  left: 62vw;
  top: 124vw;
}



#ab-one {
  position: absolute;
  top: 112vw;
  left: 4.4vw;
}

#ab-two {
  position: absolute;
  top: 112vw;
  left: 25.4vw;
}

#ab-three {
  position: absolute;
  top: 112vw;
  left: 47.4vw;
}

input[type="text"] {
  background-color: #9e005d;
  font-family: electrolize;
  color: #f7931e;
  padding: 1vw;
  border: none;
  border-radius: 0px;
  cursor: text;
}

input[type="text"]:hover {
  background-color: #9e005d;
}

input[type="text"]:on {
  background-color: #9e005d;
}

::placeholder {
  color: #f7931e;
}

input[type="a-submit"] {
  background-color: #9e005d;
  color: #f7931e;
  padding: 1vw;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  float: right;
  text-align: center;
}

.ab-email {
  color: #f7931e;
  font-family: electrolize;
  font-size: 1.25vw;
  text-decoration: none;
}

#sub-up {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

#sub-con {
  position: absolute;
  left: 4.4vw;
  top: 151vw;
}

#ab-butt {
  position: absolute;
  color: #f7931e;
  border-radius: 0px;
  text-decoration: none;
  background-color: #9e005d;
  cursor: pointer;
  height: 2.5vw;
  width: 9vw;
  font-size: 1.25vw;
  right: 70vw;
  top: 14vw;
  font-family: electrolize;
  margin-top: 1vw;
  border: none;
}

#ab-butt:hover {
  background: #f7931e;
  color: #9e005d;
}

/* Questions container */



#aboupar {
  position: absolute;
  left: 62vw;
  top: 173vw;
}

#aboutpar {
  padding-top: 1vw;
}

.aques {
  position: absolute;
  left: 62vw;
  top: 168vw;  
}

.faqlink {
  color: #f7931e;
  text-decoration: none;
}

.aboutscrollable {
  position: absolute;
  width: 9.8vw;
  margin: 0;
  left: 44vw;
  top: 125vw;
}

#ab_social {
  position: absolute;
  left: 4.4vw;
  top: 181vw;
}

#socialtag {
  position: absolute;
  color: #f7931e;
  left: 4.4vw;
  top: 186vw;
}

.aface {
  position: absolute;
  left: 4.4vw;
  top: 191vw;
  max-width: 5.319444444444445vw;
}

.ainsta {
  position: absolute;
  left: 16vw;
  top: 191vw;
  max-width: 5.319444444444445vw;
}

.atwitt {
  position: absolute;
  left: 28vw;
  top: 191vw;
  max-width: 5.319444444444445vw;
}

#abfooter {
  position: absolute;
  top: 200vw;
}

/* END OF ABOUT STYLING */

/* STORE STYLING */

#storepic {
  position: relative;
  font-family: "Jost", sans-serif;
  margin-top: -35px;
}

#storename {
  position: absolute;
  top: 37%;
  font-size: 5.5555vw;
  transform: translatex(.5%);
  color: #9e005d;
  left: 3.125vw;
}

#storename2 {
  position: absolute;
  top: 37%;
  font-size: 5.5555vw;
  color: #f7931e;
  left: 3.125vw;
}

.storelabel {
  font-size: 3vw;
  color: #f7931e;
  padding-top: 3.75vw;
}

.storegrid div p {
  font-size: 1.38888vw;
  font-family: "electrolize", sans-serif;
  color: #f7931e;
  text-align: center;
  padding: 1.6667vw;
}

h5.stickstore {
  text-align: left;
  padding-top: 3.75vw;
  font-size: 1.38888vw;
  font-family: "electrolize", sans-serif;
  color: #f7931e;
}

h5.alsostore {
  text-align: left;
  padding-bottom: 3.75vw;
  font-size: 1.38888vw;
  font-family: "electrolize", sans-serif;
  color: #f7931e;
}

.buybutton {
  font-family: "electrolize", sans-serif;
  font-size: 1.25vw;
}

/* STORE GRID INFO */

div.storegrid {
  display: grid;
  top: -110px;
  grid-gap: 2.9166666666666665vw 2.083333333333333vw; /*42 px 30px */
  grid-template-columns: repeat(4, 1fr);
  max-width: 93.75vw;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

div.grid div.storelabel {
  grid-column-end: span 2;
}

div.grid div.shirtone {
  position: relative;
  align-content: center;
  grid-column-end: span 1;
}

/* END STORE STYLING */

/* FAQ STYLING */

.faqimg {
  background-image: url(../img/faqimg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: 750px;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  z-index: -3;
}

#faqpic {
  position: relative;
  font-family: "Jost", sans-serif;
  margin-top: -65px;
}

#faqname {
  position: absolute;
  top: 33%;
  left: 56%;
  line-height: 1;
}

.onefaq {
  display: grid;
  width: 30vw;
  margin-left: 4.4vw;
  position: absolute;
  top: 80vw;
}

.twofaq {
  display: grid;
  width: 30vw;
  margin-left: 4.4vw;
  position: absolute;
  top: 120vw;
}

.threefaq {
  display: grid;
  width: 30vw;
  margin-left: 4.4vw;
  float: left;
  position: absolute;
  top: 147vw; 
}

.fourfaq {
  display: grid;
  width: 46.8vw;
  left: 46vw;
  position: absolute;
  top: 105vw;  
}

.fivefaq {
  display: grid;
  width: 46.8vw;
  left: 46vw;
  position: absolute;
  top: 130vw;
}


.faqquestion {
  width: 40vw;
  position: absolute;
  right: 4vw;
  top: 160vw /**/
}

.faqquestion a {
  color: antiquewhite;
  text-decoration: none;
}

#questions {
  padding-bottom: 1vw;
}

.faqfoot {
  bottom: -87vw;
}

/* END OF FAQ STYLING */

/* ==========================================================================
   3.0 Custom Nav Styles
   ========================================================================== */

header .container {
  /* display: grid; */
  /* grid-template-columns: 18vw 1fr; */
  margin: 0 auto;
  max-width: 100%;
  /* background: #f7931e; */
  position: relative;
  z-index: 1;
  display: flex;
}

header .container::after {
  content: "";
  bottom: 0;
  left: 0; /* border-left: 0 solid black; */
  top: 0;
  position: absolute; 
  background-image: url(../img/toolbar.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 20.13888888888889vw;
  height: 7.916666666666666vw;
} 

.logo {
  width: 8.809027777777777vw;
}

.logo-container {
  text-align: center;
  height: 8.333333333333332vh;
  position: relative;
  flex: 0 0 18vw;
}

.logo-container a {
  position: absolute;
  top: 1.8055555555555554vw;
  display: inline-block;
  /* left: 11em; */
  right: 0;
  z-index: 1;
}
header .container img {
  max-width: 8.75vw;
}

header nav ul {
  list-style: none;
  /* background: red; */
  display: flex;
  /* height: 14.333333333333332vh; */
  justify-content: space-around;
  text-transform: uppercase;
  padding-left: 8.33333vw;
  margin: 0;
  flex: 1;
}

header nav ul a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.66666vw;
  color: #17000e;
}

header nav ul a:hover {
  color: #9e005d;
}

header nav ul a.active {
  color: #9e005d;
}

header nav {
  height: 7.916666666666666vw;
  background: #f7931e;
  display: flex;
  margin-left: 2.083333333333333vw;
  align-items: center;
  flex: 1;
}

.exitbutton {
  position: absolute;
  color: black;
  font-family: jost;
  font-size: 70px;
  font-weight: 800;
  left: 322px;
  top: 16px;
  background: #000000;
}

a#indexmenu {
  position: absolute;
  color: #f7931e;
  font-family: jost;
  font-size: 40px;
  text-decoration: none;
  font-weight: 700;
}

footer {
  padding: 1vw 0;
  background-color: #9e005d;
  color: #f7931e;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 1;
}



footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer li {
  text-align: center;
  line-height: 3.12vw;
}

footer li:last-child {
  margin-bottom: 0;
}

footer li a {
  font-family: "Electrolize", sans-serif;
  text-decoration: none;
  color: #f7931e;
  font-size: 1.3888888vw;
}
footer li a:hover {
  color: #17000e;
}
/* ==========================================================================
   4.0 Custom Font Styles
   ========================================================================== */

/* ==========================================================================
   5.0 Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   8.0 Media Queries. Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
   9.0 Cursors. For more information about implementing custom cursors, visit:
   * https://css-tricks.com/almanac/properties/c/cursor/
========================================================================== */

/* example custom cursor CSS nomenclature:



Example 1: Custom Cursor (arrow) across whole site

* {
  cursor: url(images/custom-cusor.png), auto;
}

Example 2: Custom Pointer for certain HTML elements

Whenever someone hovers over an HTML element with a class of
"custom-pointer", then the cursor will change to custom-pointer.png

.custom-pointer {
  cursor: url(images/custom-pointer.png), auto;
}


*/



.button {
  background-color: #f7931e; /* Orange */
  color: black;
  padding: 15 px 30 px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15;
}

.buybutton {
  background-color: #280018; /* dark-maroon */
  color: #f7931e;
  border-color: #f7931e;
  padding: 15 px 30 px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15;
}

.emailspace {
  background-color: #280018; /* dark-maroon */
  color: #f7931e;
  border-color: #f7931e;
  padding: 15 px 30 px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 15;
}

.submit {
  background-color: black;
  color: #f7931e;
  padding: 15 px 30 px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15;
}

/* FOOTER */

#signup {
  position: absolute;
  left: -1vw;
  top: -1vw;
}

.footer {
  position: relative;
  bottom: 0px;
  height: 148px;
  width: 100vw;
}

#foot {
  margin-top: -148px;
  clear: both;
  padding: 20px;
  background-color: #9e005d;
}

#foot a {
  list-style-type: none;
  text-decoration: none;
  color: #f7931e;
  font-family: electrolize;
  font-weight: 700;
  font-size: 20 px;
}

.lfooter {
  bottom: -7vw;
}


.form-row {
  height: 51vw;
}

/* END OF FOOTER */

.menu {
  position: absolute;
  top: 1vw;
  right: 4.4vw;
  background-image: url(../img/menu.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-indent: -9999px;
  width: 6vw;
  height: 6vw;
  cursor: pointer;
  z-index: 9000;
}

.menu {
  display: none;
}

.exit {
  position: absolute;
  top: 1vw;
  right: 4.4vw;
  background-image: url(../img/exit.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-indent: -9999px;
  width: 6vw;
  height: 6vw;
  cursor: pointer;
  z-index: 9000;
}

.exit {
  display: none;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

}


/* ==========================================================================
   Responsive Design. max-width 500px PHONE
   ========================================================================== */

@media only screen and (min-width: 500px) {
  /* Style adjustments for viewports that meet the condition */
  



  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }


  /* LINEUP */

  #signup {
    margin-top: -7vw;
  }

} /* END OF 500px PHONE */

/* ==========================================================================
   6.0 Media Queries for Responsive Design. max-width 768px TABLET
   ========================================================================== */

@media only screen and (max-width: 768px) {
  /* Style adjustments for viewports that meet the condition */

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */


  
  }

  /* MOBILE MENU BUTTONS */

  #exitbutton {
    font-family: jost;
    color: black;
    text-decoration: none;
    font-size: 74px;
    font-weight: 800;
    position: absolute;
    top: 10vw;
    right: 10vw;
  }

  #signup {
    margin-top: -9vw;
  }

  .menucontainer {
    background-color: #9e005d;
    background-image: url(../img/mobilemenu.png);
    background-repeat: no-repeat;
    background-position: top center center;
    background-size: contain;
    position: fixed;
    width: 100vw;
    height: 200vh;
    top: 0;
    left: 0;
    z-index: 99999;
  }

    /* NAV BAR */

    .menu {
      display: block;
      z-index: 999999;
    }

    .exit:hover {
      background-image: url(../img/oexit.png);
    }

    .menucontainer ul {
      font-size: 8vw;
      padding: 2vw;
    }

    header nav ul a.active {
      color: #f7931e;
    }
    .menucontainer a {
      font-size: 6vw;
      color: #000;
    }

     .menucontainer a:hover {
        color: #f7931e;
      }

    .logo {
      z-index: 999999999;
    }

    .hide {
      display: none;
    }

    .form-row {
      padding-bottom: 10vw;
    }

    .menucontainer ul {
      display: block;
      padding-top: 14vw;
      padding-left: 6vw;
    }

    .tfooter {
      display: none;
    }

    .lfooter {
      display: none;
    }

    .faqfoot {
      display: none;
    }

    .fquestion {
      padding-bottom: 5vw;
    }

    .sfoot {
      display: none;
    }

    #abfooter {
      display: none;
    }

    .nine-footer {
      display: none;
    }

    #indexfoot {
      display: none;
    }

} /* END OF 768px TABLET */